@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: 'Courier Prime', monospace;
    margin: 3%;
    background:  no-repeat center / cover url('microsoft-background.jpeg');
    cursor: url('images/cursor.png'), auto !important;
}

button:hover, a:hover{
    cursor: url('images/pointer.png'), pointer;
}

nav{
    display: flex;
    margin: auto;
    margin-left: 4.2em;
    margin-right: 3.95em;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 4%;
    padding-inline-start: 0px;
    align-items: center;
    width: 100%;
}

nav ul:last-child{
    justify-content: end;
}

nav ul li:before{
    content: '';
    position: absolute;
    right: -50%;
    left: -50%;
    padding: 1.5em 5em;
    z-index: -4;
    border: 2px solid black;
    transform: perspective(3px) rotateX(1deg) translateY(-66%);
    border-radius: 10px 10px 0 0;
}

nav ul li{
    position: relative;
    text-align: center;
}

nav a{
    display: block;
    width: 4.2em;
    color: black;
    text-decoration: none;
}

#home{
    position: relative;
    z-index: -1;
    padding-right: 20%;
}

#home:before{
    background-color: pink;
    transform-origin: bottom;
    left: -85%;
}

#projects{
    z-index: -2;
    position: relative;
    padding-left: 20%;
}

#projects:before{
    background-color: #B48AE4;
    transform-origin: bottom;
}

#contact{
    z-index: -3;
    position: relative;
    padding-left: 50%;

}

#contact:before{
    background-color: rgb(133, 222, 132);
    transform-origin: bottom right;
}

#kiersten:before{
    background-color: rgb(251, 251, 158);
    transform-origin: left;
    top: 37%;
}

main{
    border: 2px solid black;
    margin-top: .3%;
    background-color: rgba(255,255,255,0.75);
    border-radius: 0 0 1em 1em;
    height: 85vh;
    overflow: scroll;
    padding: 5%;
    position: relative;
    z-index: 5;
}

section{
    border: 2px solid black;
    border-radius: .75em;
    box-shadow: .2em .2em .5em grey;
    margin-bottom: 5%;
    background-color: #f9efdc;
}

h2{
    font-size: 2em;
}

.profile{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0 0 .6em .6em;
}

.photo{
    border: 2px solid black;
    border-radius: .75em;
    box-shadow: .2em .2em .5em grey;
    position: relative;
    width: 95%;
    margin: 5%;
}

#copyone{
    position: absolute;
    top: 5%;
    right: 4%; 
    margin: 0;
    width: 101%;
}

h3{
    font-weight: bolder;
    text-align: center;
    flex: 1 1 100%;
    justify-content: center;
    margin-left: 3.6em;
}

.banner{
    background-color: orange;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid black;
    padding: 1%;
}

.banner ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
    padding: 0;
}

.circle{
    border: 1px solid black;
    border-radius: 1em;
    width: .8em;
    height: .8em;
    margin: 0 .2em;
}

#green{
    background-color: rgb(138, 230, 138);
}

#yellow{
    background-color: rgb(255, 245, 141);
}

#red{
    background-color: rgb(247, 123, 123);
}

.container{
    display: flex;
    gap: 8%;
}

.desc, #photo{
    flex: 1 1 100%;
    margin: 5%
}

.desc p{
    position: relative;
    left: 12em;
    bottom: 2em;
    font-size: .9em;
    font-family: verdana;
    margin-right: 5%;
}

.button1{
    background-color: #11B3E9;
    padding: 1em;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    position: relative;
    left: 13em;
    color: black;
    text-decoration: none;
    display: inline;
    margin-right: 4em;
}

.button1 a{
    color: black;
    text-decoration: none;
    font-size: 1.2em
}

.button1:hover{
    box-shadow: 6px 6px black;
    transform: translate(-2px, -2px);
    background-color: #65C5E6;
}

.button1:active{
    background-color:#038BB8;
    box-shadow: 0px 0px;
    transform: translate(4px, 4px)
}

#education .banner{
    background-color: pink;
}

#skills .banner{
    background-color: #B48AE4;
}

.left, .right{
    flex: 1 1 100%;
}

.content{
    margin: 5%;
}

.icon{
    width: 4em;
    padding: 1em;
    background: no-repeat center / contain url('images/file.svg');
}

#skills .content{ 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

    /* FOLDERS */

#branches{
    padding: 4%;
    flex: 1 1 25%;
    background-color: #f3e6cf;
    border-bottom-left-radius: .75em;
}

.finder{
    display: flex;
}

#branches ul{
    text-wrap: nowrap;
    list-style-type: none;
    padding: 0 0 20px 0;
}

#branches ul li{
    margin: 6% 0;
    padding-bottom: 2%;
    border: 1px solid black;
    box-shadow: 3px 3px 0px black
}

#branches ul img, #contact-me img{
    margin: 0px 6px -8px 0;
}

#branches ul li:hover{
    background-color: #f1eadc;
}

.files{
    flex: 1 1 100%;
    display: flex;
}

.folder{
    margin: 3%;
    justify-items: center;
}

.folder-body{
    width: 8em;
    height: 6em;
    background-color: #976fc5;
    border-radius: .5em;
}

.open-folder{
    background-color: #B48AE4;
    transform: scaleY(90%) translateY(5%)
}

.open-folder:hover{
    transform: skew(-20deg) translate(1em) rotateX(20deg) scaleY(90%) translateY(8.5%);
}

.tab{
    --r: .4em;
    border: var(--r) solid #0000;
    border-bottom: 0;
    border-radius: calc(2 * var(--r)) calc(2 * var(--r)) 0 0;
    mask: radial-gradient(100% 100% at 0 0, #0000 98%, #000) 0 100% / var(--r) var(--r), radial-gradient(100% 100% at 100% 0, #0000 98%, #000) 100% 100% / var(--r) var(--r), linear-gradient(#000 0 0) padding-box;
    mask-repeat: no-repeat;
    background: #976fc5 border-box;
    width: 3.5em;
    height:1em;
    position: relative;
    left:-1.75em;
    top: 1px;
}

.files figcaption{
    text-align: center;
    margin-top: 5%;
}

#websites-button{
    background-color: pink;
}

#games{
    display: none;
}

#more{
    display: none;
}

#contact-me{
    display: flex;
    padding: 2%;
    gap: 2%;
}

h4{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.message{
    border: 2px solid black;
    border-radius: .75em;
    box-shadow: .2em .2em .5em grey;
    flex: 1 1 100%;
}

form{
    padding: 5%;
}

input, textarea{
    width: 100%;
    background-color: #f9f4eb;
    border: 1px solid black;
    margin-bottom: 1em;
    font-family: sans-serif;
    padding: 1%;
}

form .button1{
    width: 100%;
    position: static;
}