@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color:#f9efdc;
    font-family: 'Courier Prime', monospace;
    margin: 3%;
    background:  no-repeat center / cover url('microsoft-background.jpeg');
}

nav{
    display: flex;
    margin: auto;
    margin-left: 4.2em;
    margin-right: 2.12em;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 8%;
    padding: 0px;
    align-items: center;
    position: relative;
    width: 100%;
}

nav ul:last-child{
    justify-content: end;
}

nav ul li:before{
    content: '';
    position: absolute;
	right: -50%; bottom: -35%; left: -50%;
    padding: .5em 2em;
	z-index: -4;
    border: 2px solid black;
    transform: perspective(3px) rotateX(1deg);
    height: 120%;
    border-radius: 10px 10px 0 0;
}

nav ul li{
    position: relative;
    text-align: center;
}

nav a{
    display: block;
    width: 4em;
}

#home{
    position: relative;
    z-index: -1;
}

#home:before{
    background-color: pink;
    transform-origin: bottom;
}

#projects{
    z-index: -2;
    position: relative;
}

#projects:before{
    background-color: #B48AE4;
    transform-origin: bottom;
}

#contact{
    z-index: -3;
    position: relative;
}

#contact:before{
     background-color: rgb(133, 222, 132);
     transform-origin: bottom right;
}

#kiersten:before{
    background-color: rgb(251, 251, 158);
    transform-origin: left;
}

main{
    border: 2px solid black;
    margin-top: .3%;
    background-color: #f9efdc;
    border-radius: 0 0 1em 1em;
    height: 85vh;
    overflow: scroll;
    padding: 5%;
}

section{
    border: 2px solid black;
    border-radius: .75em;
    box-shadow: .2em .2em .5em grey;
    margin-bottom: 5%;
}

h2{
    font-size: 2em;
}

#profile{
    max-height: 100%;
    border: 2px solid black;
    border-radius: .5em;
}

h3{
    font-weight: bolder;
    text-align: center;
    flex: 1 1 100%;
    justify-content: center;
    margin-left: 3.6em;
}

.banner{
    background-color: orange;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid black;
    padding: 1%;
}

.banner ul{
    list-style-type: none;
    display: flex;
    justify-content: end;
    flex: 1 1 auto;
    padding: 0;
}

.circle{
    border: 1px solid black;
    border-radius: 1em;
    width: .8em;
    height: .8em;
    margin: 0 .2em;
}

#green{
    background-color: rgb(138, 230, 138);
}

#yellow{
    background-color: rgb(255, 245, 141);
}

#red{
    background-color: rgb(247, 123, 123);
}

.container{
    display: flex;
    gap: 8%;
}

.desc, .photo{
    flex: 1 1 100%;
    margin: 5%
}

.desc p{
    position: relative;
    left: 11em;
    bottom: 2em;
    font-size: 1em;
}

#education .banner{
    background-color: pink;
}

#skills .banner{
    background-color:
}

.left, .right{
    flex: 1 1 100%;
}

.content{
    margin: 5%;
}

.icon{
    width: 4em;
    padding: 1em;
    background: no-repeat center / contain url('images/file.svg');
}

#skills .content{ 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}